# Setup custom port for Fastify
# FASTIFY_PORT=3000

# Api key must be passed via `Authorization: api-key <value>` header.
# HAKUVAHTI_API_KEY=123

# Some features are gated behind certain environments.
# By default, local is good choice for development.
# ENVIRONMENT=local

# Sentry error monitoring
SENTRY_DSN=
SENTRY_RELEASE=

# ATV for storing customer data.
# ATV api key is required for development!
ATV_API_KEY=
ATV_API_URL=https://atv.api.test.hel.ninja

# Mail configuration, uses stonehenge mailpit by default.
# MAIL_FROM=noreply@hel.fi
# MAIL_HOST=host-machine.local
# MAIL_PORT=1025
# MAIL_SECURE=
# MAIL_AUTH_USER=
# MAIL_AUTH_PASS=

# Elisa Dialogi SMS service
# DIALOGI_API_URL=https://viestipalvelu-api.elisa.fi/api/v1
# DIALOGI_API_KEY=
# DIALOGI_SENDER=

# Testing
# TEST_SMS_NUMBER=
