# Environment configuration
ENVIRONMENT=local

# Sentry error monitoring
SENTRY_DSN=

# External services
ELASTIC_PROXY_URL=https://elastic-helfi-rekry.docker.so
ATV_API_KEY=xxx
ATV_API_URL=https://atv.api.test.hel.ninja

# Mail server configuration
MAIL_FROM=noreply@hel.fi
MAIL_HOST=host-machine.local
MAIL_PORT=1025
MAIL_SECURE=
MAIL_AUTH_USER=
MAIL_AUTH_PASS=

# Elisa Dialogi SMS service
DIALOGI_API_URL=https://viestipalvelu-api.elisa.fi/api/v1
DIALOGI_API_KEY=
DIALOGI_SENDER=

# Testing
TEST_SMS_NUMBER=

HAKUVAHTI_API_KEY='123'
