<!DOCTYPE html>
<html lang="{{ lang }}" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="x-apple-disable-message-reformatting">
  <title>Hakuvahtisi on vanhentumassa</title>
</head>

<body style="margin:0;padding:0;">
  <p>Hakuvahtisi Helsingin kaupungin sivustolla on päättymässä {{ removal_date }},
    mutta voit tehdä sen uudelleen. Hakuehdot: {{ search_description }}.</p>
  <p></p>
  <a href="{{ link }}">Tee uusi hakuvahti</a>
  <p></p>
  <p>Ystävällisin terveisin,</p>
  <p>Helsingin kaupunki</p>
  <p><a href="{{ remove_link }}">Poista hakuvahti</a></p>
</body>

</html>