<!DOCTYPE html>
<html lang="{{ lang }}" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="x-apple-disable-message-reformatting">
  <title>Tiden för din sökvakt håller på att gå ut</title>
</head>

<body style="margin:0;padding:0;">
  <p>Din sökvakt på Helsingfors stads webbplats kommer att gå ut den {{ removal_date }}, men du kan
    skapa den på nytt. Sökvillkor: {{ search_description }}.</p>
  <p></p>
  <a href="{{ link }}">Skapa en ny sökvakt</a>
  <p></p>
  <p>Med vänlig hälsning,</p>
  <p>Helsingfors stad</p>
  <p><a href="{{ remove_link }}">Radera sökvakten</a></p>
</body>

</html>