<h1 style="font-family: Arial, Helvetica, sans-serif; font-size: 32px; font-weight: 400; line-height: 38px; margin-bottom: 24px; margin-left: 0; margin-right: 0; margin-top: 0;">{{ email_newhits_header }}</h1>
{{ hits }}
<p style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: 400; line-height: 28px; margin-top: 0; margin-right: 0; margin-bottom: 24px; margin-left: 0;"><b>{{ email_generic_your_search_terms }}:</b> {{ search_description }}</p>
<p style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: 400; line-height: 28px; margin-top: 0; margin-right: 0; margin-bottom: 24px; margin-left: 0;">{{ email_newhits_intro_prefix }}</p>
<p style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: 400; line-height: 28px; margin-top: 0; margin-right: 0; margin-bottom: 24px; margin-left: 0;">
  <a href="{{ search_link }}" style="color: #000000; text-decoration: underline;">{{ email_newhits_link_text }}</a>
</p>
<p style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: 400; line-height: 28px; margin-top: 0; margin-right: 0; margin-bottom: 24px; margin-left: 0;">{{ email_newhits_expiry_prefix }} {{ expiry_date }}{{ email_newhits_expiry_suffix }}</p>
<p style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: 400; line-height: 28px; margin-top: 0; margin-right: 0; margin-bottom: 24px; margin-left: 0;">{{ email_newhits_expiry_instructions }}</p>
<p style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: 400; line-height: 28px; margin-top: 0; margin-right: 0; margin-bottom: 48px; margin-left: 0;">
  <a href="{{ remove_link }}" style="color: #000000; text-decoration: underline;">{{ email_generic_remove_link }}</a>
</p>
<p style="color: #666666; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: 400; line-height: 28px; margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0;">{{ email_generic_automatically_sent }}</p>
