<!DOCTYPE html>
<html lang="{{ lang }}" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="x-apple-disable-message-reformatting">
  <title>Nya träffar med sökvakten</title>
</head>

<body style="margin:0;padding:0;">
  <p>Vi hittade {{ num_hits }} nya träffar med din sökvakt. Sökvillkor: {{ search_description }}, {{ created_date }}</p>
  <p></p>
  {{ hits }}
  <p></p>
  <p><a href="{{ search_link }}">Se alla sökvaktens resultat</a></p>
  <p></p>
  <p>Med vänlig hälsning,</p>
  <p>Helsingfors stad</p>
  <p>Detta meddelande kan inte besvaras.</p>
  <p>---</p>
  <p><a href="{{ remove_link }}">Radera sökvakten</a></p>
</body>

</html>